<?xml version="1.0"?>
<configuration>
    
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>

    <appSettings>

        <add key="zipFolder" value="C:\Temp\ZipFiles"/>
        <add key="zipFileRegexPattern" value=".*"/>

        <add key="fileRegexPattern" value=".*"/>

        <add key="outputFolder" value="C:\Temp\Output"/>
               
        <add key="createOutputSubFolders" value="True"/>
        <add key="password" value=""/>
        


    </appSettings>


</configuration>
